<div class="submit-link-content">
	<p class="breadcrumb">
		<%= link_to "Home", links_path %> / New comment
	</p>

	<h1>Add new comment:</h1>

	<% if @comment.parent %>
		<%= render 'comment', comment: @comment.parent %>
	<% end %>

	<%= render 'comment_form' %>
</div>