<h1>About uplearn</h1>

<p>Uplearn is the best place on the web to share and find great learning resources, created by
<a href="http://www.benlcollins.com/" target="_blank">Ben Collins</a> as a final project for 
<a href="https://generalassemb.ly/education/back-end-web-development/washington-dc" target="_blank">General 
	Assembly's Back End Web Development</a> course in Washington, DC (Jan 2015 cohort).</p>

<h2>Technology Stack</h2>

<p>This app is built using the following technology:</p>
<ul>
	<li>Ruby on Rails Framework</li>
	<li>Sass CSS sheets, implemented according to the SMACSS architecture</li>
</ul>

<p>The dev environment was a Mac, Sublime Text 2, Terminal</p>

<h2>Resources</h2>

<h3>Books:</h3>

<ul>
	<li>Learn HTML and CSS - Shay Howe</li>
	<li>The Well-Grounded Rubyist - David Black</li>
	<li>The Rails 4 Way - Obie Fernandez and Kevin Faustino</li>
</ul>