/* -------------------------------------------------
Modules Styles
------------------------------------------------- */


/* -------------------------------------------------
Link Hover States
------------------------------------------------- */
.main-heading a:hover .logo {
	/*text-decoration: underline;*/
	/*background-color: orange;*/
	/*box-shadow: 0px 0px 0px 0.14em orange;*/
}
.main-heading a:hover .logo-letter {
	/*text-decoration: underline;*/
	background-color: orange;
	box-shadow: 0px 0px 0px 0.14em orange;
}
a.header-navigation-link:hover {
	/*text-decoration: underline;*/
	border-bottom: 2px solid white;
}
a.footer-navigation-link:hover {
	/*text-decoration: underline;*/
	color: orange;
	border-bottom: 2px solid orange;
}
a:hover div.logo {
	color: orange;
	border-bottom: 2px solid orange;
}
a.link-title:hover {
	/*text-decoration: underline;*/
	background-color: #ffe4b2;
	color: orange;
	padding-bottom: 1px;
	border-bottom: 2px solid orange;
}
a.link-tag:hover {
	color: white;
	background-color: orange;
}
a.user-actions-link:hover {
	/*color: orange;*/
	/*text-decoration: underline;*/
	border-bottom: 2px solid orange;

}
a.link-meta-submitter:hover, a.link-comments:hover {
	color: orange;
	/*text-decoration: underline;*/
	border-bottom: 2px solid orange;
}
a.job-post-link:hover {
	color: orange;
	/*text-decoration: underline;*/
	border-bottom: 2px solid orange;
}
a.user-table-link:hover {
	/*text-decoration: underline;*/
	/*background-color: #ffe4b2;*/
	color: orange;
	padding-bottom: 2px;
	border-bottom: 2px solid orange;
}
a.user-table-edit-link:hover {
	padding-bottom: 2px;
	border-bottom: 2px solid red;
}
input.user-table-button:hover {
	color: red;
	background-color: #ffb2b2;
	border-color: red;
}
input.search-button:hover {
	background-color: white;
	color: black;
}
input.favorite-button:hover, input.unfavorite-button:hover {
	background-color: #ffe4b2;
	color: orange;
	/*padding-bottom: 1px;*/
	border: 1px solid orange;
}
.breadcrumb a:hover {
	color: orange;
	text-decoration: underline;
}
a.link-details-out:hover {
	color: orange;
}
.about-page a:hover {
	/*color: orange;*/
	/*text-decoration: underline;*/
	border-bottom: 2px solid orange;
}
.right-summary-box a.small-label:hover {
	color: orange;
}
.prev a:hover, .next a:hover {
	color: white;
	background-color: #49bb5b;
	border: 1px solid #2B823A;
}
a.comment-link:hover {
	background-color: #ffe4b2;
	color: orange;
	/*padding-bottom: 1px;*/
	border: 1px solid orange;
}
